---

- block:

    - include_tasks: ollama_user.yml

    - block:

        - name: deploy ollama systemd service
          ansible.builtin.template:
            src: systemd/ollama.service
            dest: "{{ systemd_system_dir }}/{{ ollama_service_name }}.service"
            mode: '0644'
            owner: 0
            group: 0
          register: t_ollama_service_deploy

        - name: enable and start ollama service
          ansible.builtin.systemd:
            name: ollama
            enabled: yes
            state: started
            daemon_reload: yes
          register: t_ollama_service_start

        - name: restart ollama service
          ansible.builtin.systemd:
            name: ollama
            enabled: yes
            state: restarted
            daemon_reload: yes
          when: not t_ollama_service_start.changed and (t_ollama_service_deploy.changed or t_ollama_install.changed)

      when: ansible_facts.service_mgr == 'systemd'


  when: want_ollama_service
