---

- name: Check for AMD GPU
  ansible.builtin.shell:
    cmd: lspci -d '1002:' | grep -q 'AMD'
  register: t_ollama_amd_gpu_lspci
  changed_when: false
  ignore_errors: yes

- name: set has_amd
  set_fact:
    ollama_has_amd: "{{ t_ollama_amd_gpu_lspci.rc == 0 }}"


- block:

    - name: install amd utilities
      ansible.builtin.package:
        name: "{{ ollama_amd_packages }}"
        state: present

    - name: fetch rocm info
      ansible.builtin.command: rocminfo
      changed_when: no
      ignore_errors: yes
      register: t_ollama_amd_rocminfo

    - name: detect AMD GPU architecture
      ansible.builtin.set_fact:
        ollama_amd_gfx: "{{ t_ollama_amd_rocminfo.stdout | regex_search('gfx[0-9]+') }}"
      when:
        - ollama_amd_gfx is not defined
        - t_ollama_amd_rocminfo.rc == 0
        - t_ollama_amd_rocminfo.stdout is defined

    - name: compute HSA override value
      ansible.builtin.set_fact:
        ollama_amd_hsa_override_gfx_version: >-
          {%- if ollama_amd_gfx is defined and ollama_amd_gfx.startswith('gfx11') -%}
          11.0.0
          {%- elif ollama_amd_gfx is defined and ollama_amd_gfx.startswith('gfx10') -%}
          10.3.0
          {%- else -%}
          ""
          {%- endif -%}

    - name: decide GPU backend
      ansible.builtin.set_fact:
        ollama_amd_backend: >-
          {%- if ollama_amd_hsa_override_gfx_version is defined and ollama_amd_hsa_override_gfx_version != "" -%}
          rocm
          {%- else -%}
          vulkan
          {%- endif -%}

  when: ollama_has_amd


- block:

    - name: Check if ROCm library files exist
      ansible.builtin.find:
        paths: "{{ ollama_install_rocm_dir }}"
        patterns: "libdrm_amdgpu.so*"
        use_regex: no
      register: t_ollama_rocm_libs

    - block:

        - name: Download Linux ROCm bundle
          ansible.builtin.get_url:
            url: "{{ ollama_github_download_rocm_url }}"
            dest: "{{ tmphuge_dir }}/ollama-rocm.tgz"

        - name: Extract ROCm components
          ansible.builtin.unarchive:
            src: "{{ tmphuge_dir }}/ollama-rocm.tgz"
            dest: "{{ ollama_install_dir }}"
            remote_src: yes
            owner: 0
            group: 0
            mode: '0755'

        - name: Clean up temporary file
          ansible.builtin.file:
            path: "{{ tmphuge_dir }}/ollama-rocm.tgz"
            state: absent

      when: t_ollama_rocm_libs.files | length < 1

  when: ollama_has_amd
